* text=auto
*.ps1 text eol=crlf
*.cmd text eol=crlf
*.bat text eol=crlf
*.sh text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.jar binary
*.dll binary
*.exe binary
*.png binary
*.jpg binary
*.jpeg binary
*.pk3 binary
